
<!--<div class="list">-->
<!--    <div class="items mt2" fxLayout="row" fxLayout.lt-md="column">-->
<!--      <mat-card class="item" *ngFor="let topic of (topics$ | async)?.topics" fxFlex>-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>{{ topic.title }}</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p>-->
<!--            {{ topic.description }}-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--</div>-->

<div class="list">
  <div class="card-container">
    <mat-card class="item" *ngFor="let topic of (topics$ | async)?.topics" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>
      <mat-card-header>
        <mat-card-title>{{ topic.title }}</mat-card-title>

      </mat-card-header>
      <mat-card-content >
        <p>
          {{ topic.description }}
        </p>
        <div class="center">
          <button  mat-raised-button color="primary" type="submit">S'abonner</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--             TEST POUR LA MISE EN PLACE VISUEL  -->
<!--<div class="list">-->
<!--  <div class="card-container">-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--    <mat-card class="item" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>TITRE</mat-card-title>-->

<!--      </mat-card-header>-->
<!--      <mat-card-content >-->
<!--        <p>-->
<!--          DESCRIPTION-->
<!--        </p>-->
<!--        <div class="center">-->
<!--          <button  mat-raised-button color="primary" type="submit">S'abonner</button>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
