.message_success_topic {
  color: green;
  font-weight: bold;
  font-style: italic;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  font-size: 25px;
}
