
<header class="header">
  <div class="header-container">
    <span class="logo"> <img src="assets/logo_p6.png"> </span>
    <div class="navigation">
      <input type="checkbox">
      <ul class="nav">
        <li><a> Articles </a></li>
        <li><a [routerLink]="['/topics']"> Thèmes </a></li>
        <a [routerLink]="['/me']"> <mat-icon class="icon-display" >account_circle</mat-icon></a>
      </ul>

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</header>

