<app-header-no-auth></app-header-no-auth>
<section>
  <div class="titleArrow">
    <mat-icon [routerLink]="['/']">keyboard_backspace</mat-icon>
  </div>

  <div class="center">
  <form [formGroup]="form" class="center form-container" (ngSubmit)="register()">
    <h1>Inscription</h1>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>


    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Adresse e-mail </mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="onError" class="error-message">
      Vous devez avoir ce qui suit : un nombre, une lettre minuscule, une lettre majuscule, un caractère spécial, et au moins 8 caractères.
    </div>

    <button mat-raised-button color="primary" type="submit">S'inscrire</button>
  </form>
  </div>
</section>
