<app-header></app-header>

<div class="body-components">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="navigateToCreatePost()">Créer un article</button>
  </div>
  <div *ngIf="posts.length === 0" class="message_error_post" class="message_error_post ">
    Il n'y a pas d'article créé pour les thèmes auxquels vous êtes abonné.
  </div>
  <div class="list" *ngIf="posts.length > 0">
    <div class="card-container">
      <mat-card class="item" *ngFor="let post of posts" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap>
        <mat-card-header>
          <mat-card-title>  {{ post.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
          <span>Date :{{ post.created_at  | date: 'dd/MM/yyyy' }}</span>
        </mat-card-subtitle>
        <mat-card-content>
          <p>{{ post.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
