.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.center img {
  max-width: 100%;
  height: auto;
}

h1.center {
  margin: 10px 0;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-around button {
  margin: 20px;
}

/* Responsive pour les petits écrans (ex: téléphones) */
@media (max-width: 768px) {
  .space-around {
    flex-direction: column;
  }

  .space-around button {
    width: 100%;
    margin: 15px;
  }
}
